/*
 * Globals
 */
 @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Permanent+Marker&family=Poppins&display=swap');
 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
 
 body {
  background: #eee;
  min-height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
  }

  #carousel .carousel-item.boat{
    background-image:url("/img/cover2OrangeRedsSkyCloud.jpg");
  } 
  /* Custom default button */
  /* .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
  
  .nav-masthead  {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  /*
   * Base structure
   */
  
  body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  }
  
  .cover-container {
    max-width: 42em;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

 
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  .btn-custom {
    background: transparent;
    border-radius: 10px;
    /* border: 2px solid #6882BB; */
    /* border: 2px solid #1E2762; */
    border: 2px solid whitesmoke;
    color: whitesmoke
  }

  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  .btn-custom:hover, .btn-pcustom:focus, .btn-custom:active, .btn-custom.active {
    background-color: transparent;
    color: #FF836D;
    border: 2px solid #FF836D;
  }
  a {
    color: whitesmoke;
  text-decoration: none;
  }

body {
 padding: 0;

}
#header {

  text-shadow:
  1px 1px 1px #463030,
  -1px 1px 1px #463030,
  -1px -1px 0 #463030,
  1px -1px 0 #463030;
}

#carousel .carousel-item{
  height:100vh;
  width:100%;
  min-height:350px;
  background:no-repeat center center scroll;
  background-size:cover;
}
#carousel .carousel-inner .carousel-item{
  transition:-webkit-transform 2s ease;
  transition:transform 2s ease;
  transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
  background:rgba(0,0,0,0.5);
  padding:40px;
  color:white;
  animation-duration: 2s;
  /* animation-delay: 2s; */
}
#carousel .caption h2{
  animation-duration: 2s;
  /* animation-delay: 2s; */
}
#carousel .caption p{
  animation-duration: 2s;
  /* animation-delay: 2.2s; */
}

#carousel .caption a{
  animation-duration: 2s;
  /* animation-delay: 2.4s; */
}
.delicious-btn{
  display: inline-block;
  min-width:160px;
  height:60px;
  color:#fff;
  border:none;
  /* border-left:3px solid #1c8314; */
  border-radius: 0;
  padding:0 30px;
  font-size:16px;
  line-height:58px;
  font-weight:600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background:transparent
}
.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus{
  font-size:16px;
  font-weight: 600;
  color:#fff;
  background:#1c8314;
  border-color:#40ba37
}
.inline-photo {
  /* border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto; */
  /*   max-width: 600px; */
  opacity: 0;
  -webkit-transform: translateX(-5em) ;
          transform: translateX(-5em) ;
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  width: 100%;
  
  will-change: transform, opacity;
  }
  
  .inline-photo.is-visible {
  opacity: 1;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  }
  